.PlayerMarker img{
  margin-top: 10px;
  margin-left: 10px;
}


.blink6 {
  -webkit-animation: blink6 0.3s  1;
  animation: blink6 0.1s  1;

}
@-webkit-keyframes blink6 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes blink6 {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
